body {
    background-color: #d2d8de;
    text-align: center
}

h1 {
    color: #71958a;
    font-family: monospace;
    font-size: 4em;
}

p {
    font-size: 20px;
    font-family: sans-serif;
}

input {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}

#greet {
    background-color: #c3edb7;
    margin-top: 10px;
    padding: 10px;
    color: #136c4c;
    font-weight: 700;
}